<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark">
      </ion-back-button>
   </ion-buttons>
<ion-title><img class="image" src="assets/logo.png" width="100" height="60"/></ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content class="back">

  <div class="rounded" tappable  routerLink="/english">
    <p class="paragraph">Picture Lessons</p>
  </div>

  <div class="rounded" tappable routerLink="/english-audio-list">
    <p class="paragraph">Reading Materials</p>
  </div>

</ion-content>
