.jobDivs
{
    margin: 0 10px  0 10px;
    background-color: lightgrey;
    height: 50px;
    
}

.headings
{
    font-size: 1.1em;
    font-weight: 400;
}

.back
{
  --background-color: grey;
}

.paragraph
{
    line-height: 50px;
    margin-left: 5px;
}

.image
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ion-toolbar{
        --min-height:80px!important;
      }