<ion-header>
  <ion-toolbar color="success">
    <ion-title>Score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
<br/>

  <div class="parent">
    <div class="child">Total: 0</div>
    <div class="child">Completed: 0</div>
  </div>

  <div class="parent">
    <div class="child">Right: 0</div>
    <div class="child">Wrong: 0</div>
  </div>

  <div class="parent">
    <div class="child">Skipped: 0</div>
    <div class="child">Duration: 00:00</div>
  </div>


</ion-content>
