<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="assets/logo.png" alt="Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">
  <p class="p1">Choose Lesson</p>
  
  <div class="rounded" tappable routerLink="/eng-del4">
    <p class="lesson-label">Traveling</p>
  </div>

  <div class="rounded" tappable routerLink="/eng-restaurants">
    <p class="lesson-label">Restaurant</p>
  </div>

  <div class="rounded" tappable routerLink="/french">
    <p class="lesson-label">School</p>
  </div>

  <div class="rounded" tappable routerLink="/french-audio-list">
    <p class="lesson-label">Media</p>
  </div>

  <div class="rounded" tappable routerLink="/french">
    <p class="lesson-label">Animals</p>
  </div>

  <div class="rounded" tappable routerLink="/french-audio-list">
    <p class="lesson-label">UK</p>
  </div>

  <div class="rounded" tappable routerLink="/french">
    <p class="lesson-label">New York</p>
  </div>

  <div class="rounded" tappable routerLink="/french-audio-list">
    <p class="lesson-label">The Beach</p>
  </div>

  <div class="rounded" tappable routerLink="/french">
    <p class="lesson-label">The Mountain</p>
  </div>

  <div class="rounded" tappable routerLink="/french-audio-list">
    <p class="lesson-label">The Environment</p>
  </div>

  <div class="rounded" tappable routerLink="/french">
    <p class="lesson-label">English Speaking World</p>
  </div>
</ion-content>
