<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="120" height="auto" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back center-content">

  <div class="rounded image-container" tappable>
    <img src="assets/learn1.gif" alt="Learning GIF" />
  </div>

  <ion-row>
    <ion-col>
      <ion-button routerLink="/eng-del2" type="submit" color="danger" expand="block">
        Start Now
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
