<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="100" height="60" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <div class="rounded beginner" tappable routerLink="/swa-audio-beginner">
    <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
    <p class="paragraph">Begginer Audio Lessons</p>
  </div>

  <div class="rounded intermediate" tappable (click)="commingSoon()">
   <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
    <p class="paragraph">Intermediate Audio Lessons</p>
  </div>

  <div class="rounded advanced" tappable (click)="commingSoon()">
    <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
    <p class="paragraph">Advanced Audio Lessons</p>
  </div>

</ion-content>