.jobDivs
{
    margin: 0 10px  0 10px;
    background-color: lightgrey;
    height: 50px;
    
}

.headings
{
    font-size: 1.1em;
    font-weight: 400;
}

.back
{
  --background-color: grey;
}

.paragraph
{
    line-height: 50px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 35%;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.rounded
{
  border-radius: 10px 10px 10px 10px;
  margin: 0 10px  0 10px;
  background-color: white;
  text-align: center;
}

ion-toolbar{
    --min-height:80px!important;
  }

  .imgContainer
  {
    display: inline-block;
    border: 0px solid lightgray;
   // outline: 5px solid lightblue;
    border-radius: 10px 10px 10px 10px;
  }
  
  a {
    color: white;
  }

  .success
  {
    display: inline-block;
    border: 0px solid lightgray;
    outline: 5px solid blue;
    border-radius: 10px 10px 10px 10px;
  }

  .danger
  {
    display: inline-block;
    border: 0px solid lightgray;
   // outline: 5px solid red;
    border-radius: 10px 10px 10px 10px;
  }

  .p1
{
    color: gray;
    font-weight: bold;
    font-size: 1em;
}