<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark">
      </ion-back-button>
   </ion-buttons>
<ion-title><img class="image" src="assets/logo.png" width="100" height="60"/></ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="back">

  <p class="p1">Lesson complete!</p>

  <div class="rounded" tappable>
    <img src="assets/learn2.gif" />
  </div>

  <br/><br/>

  <ion-row>
    <ion-col>
      <ion-button routerLink="/home" type="submit" color="danger" expand="block">Finish</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
