<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="100" height="60" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <div class="rounded visual" tappable routerLink="/eng-learn">
    <ion-icon name="images-outline" class="icon"></ion-icon>
    <p class="paragraph">Visual Learning</p>
  </div>

  <div class="rounded audio" tappable routerLink="/english-audio-list">
    <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
    <p class="paragraph">Audio Learning</p>
  </div>

</ion-content>
