<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="100" height="60" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <div class="rounded beginner" tappable routerLink="/swa-read-beginner">
    <ion-icon name="book-outline" class="icon"></ion-icon>
    <p class="paragraph">Begginer Reading Lessons</p>
  </div>

  <div class="rounded intermediate" tappable routerLink="/swa-read-intermediate">
    <ion-icon name="book-outline" class="icon"></ion-icon>
    <p class="paragraph">Intermediate Reading Lessons</p>
  </div>

  <div class="rounded advanced" tappable routerLink="/swa-read-advanced">
    <ion-icon name="book-outline" class="icon"></ion-icon>
    <p class="paragraph">Advanced Reading Lessons</p>
  </div>

</ion-content>