<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
    <ion-icon
      name="person-circle"
      class="profile-icon"
      color="dark"
      (click)="goToProfile()"
    ></ion-icon>
  </ion-buttons>


    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="100" height="60" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-bg">
  <div class="container">
    <h1 class="center">🌟 Choose a Language! 🌟</h1>

    <div class="grid">
      <div tappable routerLink="/bassa-categories" class="subject bassa">
        <label class="lbl">Bassa</label>
      </div>

      <div tappable routerLink="/duala-categories" class="subject duala">
        <label class="lbl">Duala</label>
      </div>

      <div tappable routerLink="/fre-categories" class="subject french">
        <label class="lbl">French</label>
      </div>

      <div tappable routerLink="/por-categories" class="subject portuguese">
        <label class="lbl">Portuguese</label>
      </div>

      <div tappable routerLink="/hausa-categories" class="subject hausa">
        <label class="lbl">Hausa</label>
      </div>

      <div tappable routerLink="/spanish-categories" class="subject spanish">
        <label class="lbl">Spanish</label>
      </div>

      <div tappable routerLink="/swa-categories" class="subject swahili">
        <label class="lbl">Swahili</label>
      </div>

      <div tappable routerLink="/wolof-categories" class="subject wolof">
        <label class="lbl">Wolof</label>
      </div>

      <div tappable routerLink="/yoruba-categories" class="subject yoruba">
        <label class="lbl">Yoruba</label>
      </div>

    </div>
  </div>
</ion-content>
