<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="image" src="assets/logo.png" alt="Logo" width="100" height="60" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <div class="rounded picture" tappable (click)="picturesLearn()">
    <ion-icon name="image-outline" class="icon"></ion-icon>
    <p class="paragraph">Picture Lessons</p>
  </div>

  <div class="rounded reading" tappable routerLink="/swa-reading">
    <ion-icon name="book-outline" class="icon"></ion-icon>
    <p class="paragraph">Reading Materials</p>
  </div>

</ion-content>

