<ion-content class="back">
  <div class="cn">
    <div class="inner">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <br/><br/>
      
      <form (ngSubmit)="register()">
        <ion-item class="rounded" lines="none">
          <ion-input 
            type="email" 
            placeholder="Email"
            [(ngModel)]="email" 
            name="email"
            required>
          </ion-input>
        </ion-item>
        <br/>
        <ion-item class="rounded" lines="none">
          <ion-input 
            type="password" 
            placeholder="Password"
            [(ngModel)]="password" 
            name="password"
            required>
          </ion-input>
        </ion-item>
        <br/>
        <ion-item class="rounded" lines="none">
          <ion-input 
            type="password" 
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword" 
            name="confirmPassword"
            required>
          </ion-input>
        </ion-item>
        <br/>
       
        <ion-row>
          <ion-col>
            <ion-button class="register-btn" type="submit" color="danger" expand="block">Create Account</ion-button>
          </ion-col>
        </ion-row>
      </form>

      <!-- Divider -->
      <div class="divider">
        <span>OR</span>
      </div>

      <!-- Google Register Button -->
      <ion-button 
        (click)="registerWithGoogle()" 
        color="light" 
        expand="block"
        class="google-btn">
        <ion-icon slot="start" name="logo-google" color="danger"></ion-icon>
        Sign up with Google
      </ion-button>

      <!-- Login Link -->
      <div class="login-link">
        <p>Already have an account? 
          <a routerLink="/login" class="link">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>